<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        async function checkStatus() {
            try {
                const response = await fetch('/result-status');
                const data = await response.json();
                if (data.status === 'ready') {
                    window.location.href = '/result';
                }
            } catch (error) {
                console.error('Error checking status:', error);
            }
        }

        setInterval(checkStatus, 2000); // Check status every 2 seconds
    </script>
</head>
<body>
    <div class="container">
        <header class="mt-4">
            <img src="/assets/das.png" alt="DAS Logo">
            <h1 class="display-4">Processing...</h1>
        </header>
        <div class="loader-container">
            <div class="loader"></div>
            <p>Please wait while we process your request.</p>
        </div>
    </div>
</body>
</html>
